:root {
  --modal-font-family: sans-serif;
  --modal-wrapper-bg: rgba(0, 0, 0, 0.7);
  --modal-container-bg: #FFF;
  --modal-container-border-radius: 1rem;
  --modal-close-button-color: black;
  --modal-content-font-size: 1rem;
}
