.filter {
  display: flex;
  justify-content: flex-end;
  // margin-top: -1.7rem;
  margin: 1rem 0;
  input {
    padding: 0.5rem 1rem;
    border-radius: 25px;
  }
}

.table__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: auto hidden;
}
table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  th, td {
    border: 1px solid $primary;
    padding: 0 .2rem;
    height: 40px;
  }
  
}
.no-employees {
  display: flex;
  gap: 2rem;
  a {
    cursor: pointer;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0;
  .get-page {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .set-page {
    display: flex;
    align-items: center;
    gap: .5rem;
    input {
      width: 40px;
    }
  }
  @media screen and (max-width: 575px) {
    flex-direction: column;
  }
}

.delete-button {
  margin: 0 1rem;
}

.delete-button,
.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all $hover-transition;
  &:hover {
    background-color: $primary;
  }
}