.table__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  width: 100%;
  overflow-x: auto;
  padding-right: 4rem;
}
table {
  margin-top: 1rem;
  border-collapse: collapse;
  th, td {
    border: 1px solid $primary;
    padding: 0 1rem;
    height: 40px;
  }
  
}
.no-employees {
  display: flex;
  gap: 2rem;
  a {
    cursor: pointer;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  .set-page {
    display: flex;
    gap: .5rem;
  }
}

.delete-button,
.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $primary;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all $hover-transition;
  &:hover {
    background-color: $primary;
  }
}