.create-employee {
  max-width: 800px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
  }
  form, fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  form {
    margin-top: 1rem;
  }
  fieldset {
    padding: 1rem;
    border: 1px solid $primary;
    border-radius: 8px;
  }
  section {
    display: flex;
    align-items: center;
  }
  label, input {
    padding: 0.5rem;
    margin-left: 0;
    width: 100%;
  }
  label {
    padding-left: 0;
  }
  input {
    border-radius: 4px;
    border: 1px solid $primary;
    color: inherit;
    &:focus-visible {
      border: 2px solid $secondary;
      outline: none;
    }
  }
  .state > div, .department > div {
    width: 100%;
  }
  button {
    align-self: center;
    border: none;
    border-radius: 4px;
    padding: .4rem 1rem;
    cursor: pointer;
    transition: all $hover-transition ease-out;
    &.save-button {
      background-color: $primary;
      &:hover {
        background-color: $secondary;
      }
    }
  }
}